@tailwind base;
@tailwind components;
@tailwind utilities;

/* Item.css */
.item-container {
  position: relative;
}

.item-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
  display: block;
  z-index: 1; /* Adjust the z-index to ensure it covers the image */
  transition: opacity 0.3s; /* Add a smooth transition effect */
}

.item-container img {
  z-index: 2; /* Ensure the image is on top of the overlay */
}

/* You can add more styles as needed */
